{% extends 'customer/base-customer.html.twig' %}
{% block title %} {{ parent() }} Address{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
     <li>address</li>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="col-md-9 order-content">
        <div class="form_main col-md-4 col-sm-5 col-xs-7">
            <h4 class="heading"><strong>Personal </strong> Contact <span></span></h4>
            <div class="form">
                <form class="form-signin" action="" method="post" id="contactFrm" name="contactFrm">
                    <label for="inputAddress" >Change address</label>
                    <input value="{{ customer.address }}" type="text" name="address" id="inputText" class="form-control text" placeholder="address" >
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
                </form>
            </div>
        </div>

    </div>
    </div>
    </div>
{% endblock %}